<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
    <link rel="stylesheet" href="./sass/main.scss" />
  </head>
  <body>
    <section class="section"><%- include('./views/stats'); %></section>
    <section class="section"><%- include('./views/how-it-works'); %></section>
    <section class="section"><%- include('./views/get-started') %></section>
    <section class="section"><%- include('./views/projects'); %></section>
    <section class="section"><%- include('./views/subscribe'); %></section>
    <footer><%- include('./views/footer'); %></footer>
  </body>
</html>
